<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title><%= name.human %></title>
    <meta name="description" content="FILL ME IN!">
    <meta name="author" content="FILL ME IN!">

    <link rel="stylesheet" href="<%%= css_path %>">
  </head>

  <body>
    <%%= yield %>
    <script src="<%%= js_path %>"></script>
  </body>
</html>
